fastapi
uvicorn
python-multipart
langchain
langchain-core
langchain-community
langchain-groq
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pypdf
python-dotenv
pydantic
streamlit
requests
huggingface_hub
langchain-google-genai